/* Add config location */

.location-row > * {
  color: var(--theme-fg-color);
  border: 1px solid var(--border-color);
  background-clip: padding-box;
}

.location-row > *:nth-child(2) {
  border-left: none;
  border-right: none;
}

.location-row > label {
  padding: 0 10px;
  opacity: 1;
}

.folder-button image {
  margin-right: 6px;
}

/* AdwPreferencesPage Dialog with pill button below */

preferencespage.dialog-page viewport {
  /* 24 px margin bottom of button + 44 px button height */
  padding-bottom: 68px;
}

button.dialog-pill {
  margin-bottom: 24px;
}

/* This matches with pref pages margin: 24px 12px.
 * However we split it up and give the children 6px margin instead
 * so that we can subsequently remove it for revealers to avoid clipping
 */
.dialog-page .container {
  margin: 18px 0;
  border-spacing: 0;
}

/* We only need this for .content */
.dialog-page .container > .header {
  margin: 6px;
}

.dialog-page .container > .description {
  margin: 6px;
}

/* Handle nested boxes */
.dialog-page .content > *:not(box),
.dialog-page .content > box > *:not(revealer) {
  margin: 6px;
}

/* Giving a revealer padding does not look very nice, so we give the child a margin instead */
.dialog-page .content > revealer > *,
.dialog-page .content > box > revealer > * {
  margin: 6px;
}

/* We want a spacing of 24px, but 12 of those are used for margin above instead */
.dialog-page .content {
  margin-top: 12px;
  border-spacing: 12px;
}

/* AdwActionRow prefix images */

image.row-icon {
  -gtk-icon-size: 16px;
}

image.large-row-icon {
  -gtk-icon-size: 32px;
}

spinner.row-icon {
  min-width: 24px;
  min-height: 24px;
}

/* Overview with existing configs */

.overview-list {
  background-color: inherit;
}

.overview-row:not(:first-child) {
  margin-top: 18px;
}

.overview-location-box {
  padding: 4px 6px;
  padding-bottom: 0;
}

.tag-box {
  padding: 6px 0;
  font-size: 12.2px;
}

.tag-box .tag {

  background-color: alpha(currentColor, .1);
  padding: 4px 11px;
  border-radius: 9999px;
}

.tag image {
  margin-bottom: 1px;
}

/* PikaStatusIcon */

.status-icon {
  min-width: 32px;
  min-height: 32px;
  border-radius: 9999px;
}

.ok-icon {
  color: var(--green-5);
  background-color: alpha(var(--green-3), .25);
}

.warning-icon {
  color: #ae7b03;
  background: alpha(var(--yellow-5), .25);
}

.error-icon {
  color: var(--red-4);
  background-color: alpha(var(--red-2), .25);
}

.accent-icon {
  padding: 9px;
  color: var(--accent-color);
  background-color: alpha(var(--accent-fg-color), .25);
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}

levelbar .low {
  background-color: var(--error-bg-color);
}

levelbar .mid {
  background-color: var(--orange-4);
}

levelbar .high {
  background-color: var(--accent-bg-color);
}

levelbar .full {
  background-color: var(--success-bg-color);
}

.info-card {
  padding: 15px 18px;
}

entry.card {
  padding: 12px 18px;
}

.popover-label {
  padding: 12px;
}

/* Status page with entry */
statuspage.dimmed label.description {
  /* dim_label opacity */
  opacity: 0.55;
}

statuspage.dimmed box > label.title {
  font-weight: 700;
  font-size: 15pt;
}

statuspage entry.card {
  padding: 12px 18px;
}