/* Add config location */
.location-row>* {
  color: var(--theme-fg-color);
  border: 1px solid var(--border-color);
  background-clip: padding-box;
}

.location-row>*:nth-child(2) {
  border-left: none;
  border-right: none;
}

.location-row>label {
  padding: 0 10px;
  opacity: 1;
}

.folder-button image {
  margin-right: 6px;
}

/* AdwPreferencesPage Dialog with pill button below */
preferencespage.dialog-page viewport {
  /* 24 px margin bottom of button + 44 px button height */
  padding-bottom: 68px;
}

button.dialog-pill {
  margin-bottom: 24px;
}

/* This matches with pref pages margin: 24px 12px.
 * However we split it up and give the children 6px margin instead
 * so that we can subsequently remove it for revealers to avoid clipping
 */
.dialog-page .container {
  margin: 18px 6px;
  border-spacing: 0;
}

/* We only need this for .content */
.dialog-page .container>.header {
  margin: 6px;
}

.dialog-page .container>.description {
  margin: 6px;
}

/* Handle nested boxes */
.dialog-page .content>*:not(box),
.dialog-page .content>box>*:not(revealer) {
  margin: 6px;
}

/* Giving a revealer padding does not look very nice, so we give the child a margin instead */
.dialog-page .content>revealer>*,
.dialog-page .content>box>revealer>* {
  margin: 6px;
}

/* We want a spacing of 24px, but 12 of those are used for margin above instead */
.dialog-page .content {
  margin-top: 12px;
  border-spacing: 12px;
}

/* AdwActionRow prefix images */
image.row-icon {
  -gtk-icon-size: 16px;
}

image.large-row-icon {
  -gtk-icon-size: 32px;
}

spinner.row-icon {
  min-width: 24px;
  min-height: 24px;
}

/* Overview with existing configs */
.overview-list {
  background-color: inherit;
}

.overview-row:not(:first-child) {
  margin-top: 18px;
}

.overview-location-box {
  padding: 4px 6px;
  padding-bottom: 0;
}

.tag-box {
  padding: 6px 0;
}

.tag-box .tag {
  background: color-mix(in srgb, currentColor 10%, transparent);
  color: inherit;
  padding: 4px 11px;
  border-radius: 99px;
}

.tag image {
  margin-bottom: 1px;
}

/* PikaStatusIcon */
.status-icon {
  min-width: 32px;
  min-height: 32px;
  border-radius: 9999px;
}

.ok-icon {
  color: var(--success-color);
  background-color: color-mix(in srgb, var(--success-bg-color), transparent 75%);
}

.warning-icon {
  color: var(--warning-color);
  background-color: color-mix(in srgb, var(--warning-bg-color), transparent 75%);
}

.error-icon {
  color: var(--error-color);
  background-color: color-mix(in srgb, var(--error-bg-color), transparent 75%);
}

.accent-icon {
  padding: 3px;
  color: var(--accent-color);
  background-color: color-mix(in srgb, var(--accent-bg-color), transparent 75%);
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}

levelbar.disk-usage .low {
  background-color: var(--success-bg-color);
}

levelbar.disk-usage .high {
  background-color: var(--warning-bg-color);
}

levelbar.disk-usage .full {
  background-color: var(--error-bg-color);
}

levelbar.password-quality .low {
  background-color: var(--error-bg-color);
}

levelbar.password-quality .high {
  background-color: var(--warning-bg-color);
}

levelbar.password-quality .full {
  background-color: var(--success-bg-color);
}

.info-card {
  padding: 15px 18px;
}

.info-card button {
  font-weight: normal;
  padding: 2px 12px;
}

entry.card {
  padding: 12px 18px;
}

.popover-label {
  padding: 12px;
}

/* Status page with entry */
statuspage.dimmed label.description {
  /* dim_label opacity */
  opacity: 0.55;
}

statuspage.dimmed box>label.title {
  font-weight: 700;
  font-size: 15pt;
}

statuspage entry.card {
  padding: 12px 18px;
}
