/* Add config location */

.location-row > * {
  color: @theme_fg_color;
  border: 1px solid @borders;
  background-clip: padding-box;
}

.location-row > *:nth-child(2) {
  border-left: none;
  border-right: none;
}

.location-row > label {
  padding: 0 10px;
  opacity: 1;
}

.folder-button image {
  margin-right: 6px;
}

/* AdwActionRow prefix images */

image.row-icon {
  -gtk-icon-size: 16px;
}

image.large-row-icon {
  -gtk-icon-size: 32px;
}

spinner.row-icon {
  min-width: 24px;
  min-height: 24px;
}

/* Overview with existing configs */

.overview-list {
  background-color: inherit;
}

.overview-row:not(:first-child) {
  margin-top: 18px;
}

.overview-location-box {
  padding: 4px 6px;
  padding-bottom: 0;
}

.tag-box {
  padding: 6px 0;
  font-size: 12.2px;
}

.tag-box .tag {
  background-color: alpha(currentColor, .1);
  padding: 4px 11px;
  border-radius: 9999px;
}

.tag image {
  margin-bottom: 1px;
}

/* PikaStatusIcon */

.status-icon {
  min-width: 32px;
  min-height: 32px;
  border-radius: 9999px;
}

.ok-icon {
  color: @green_5;
  background-color: alpha(@green_3, .25);
}

.warning-icon {
  color: #ae7b03;
  background: alpha(@yellow_5, .25);
}

.error-icon {
  color: @red_4;
  background-color: alpha(@red_2, .25);
}

.accent-icon {
  padding: 9px;
  color: @blue_4;
  background-color: alpha(@blue_3, .25);
}

.error {
  color: @error_color;
}

.warning {
  color: @warning_color;
}

levelbar .full {
  background-color: @error_bg_color;
}

levelbar .low {
  background-color: @success_bg_color;
}

popover calendar label {
  border-radius: 100%;
  min-width: 1.5em;
  min-height: 1.5em;
  margin: 1px;
}

popover calendar label:hover {
  background-color: alpha(currentColor, 0.1);
}

.info-card {
  padding: 15px 18px;
}

entry.card {
  padding: 12px 18px;
}

.popover-label {
  padding: 12px;
}