[Desktop Entry]
Version=1.0
Type=Application

Name=Pika Backup
Comment=Simple backups based on borg
Categories=System;GTK;

Icon=org.gnome.gitlab.sophie_h.PikaBackup
Exec=pika-backup --syslog
Terminal=false
