[Desktop Entry]
Version=1.0
Type=Application

Name=Pika Backup
Comment=Simple backups based on borg
Categories=System;GTK;

# Translators: Do not translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.World.PikaBackup
Exec=pika-backup --syslog
Terminal=false
