[Desktop Entry]
Type=Application
Name=Pika Backup Monitor
Exec=pika-backup-monitor

NoDisplay=true

X-GNOME-Autostart-Delay=90
X-GNOME-UsesNotifications=true
