[Desktop Entry]
Version=1.0
Type=Application

Name=Pika Pile Backup
Comment=Simple backups based on borg
Categories=System;GTK;

Icon=de.hemio.PikaPileBackup
Exec=pika-pile --syslog
Terminal=false
