[Desktop Entry]
Version=1.0
Type=Application

Name=Pika Pile Backup
Comment=Simple backups based on borg
Categories=System;GTK;

Icon=org.gnome.gitlab.sophie_h.PikaPileBackup
Exec=pika-pile --syslog
Terminal=false
