.pill-button {
  padding: 6px 32px;
  border-radius: 9999px;
}

/* Give more space in archives list */

.content row:checked {
  margin: 20px 0 14px 0;
}

.content row:selected row {
  border-color: shade(@borders, 1.15);
}

.content row:selected row:not(.activatable),
.content row:selected row.activatable:not(:hover) {
  background-color: @theme_selected_fg_color;
}

/* List of backup configurations */

list.backup-overview row {
  border-width: 1px;
  border-radius: 8px;
  -gtk-outline-radius: 7px;
  transition-duration: 0;
}

list.backup-overview row:not(:last-child) {
  margin-bottom: 20px;
}

list.backup-overview row {
  padding: 18px 18px;
}

.status-area.error, .error image {
  color: @error_color;
}

levelbar .full {
  background-color: lighter(@error_color);
  border-color: @error_color;
}

levelbar .low {
  background-color: lighter(@success_color);
  border-color: @success_color;
}

.small-label {
  font-size: 0.9em;
}

.not-active image {
  -gtk-icon-effect: dim;
}

.linked-line entry {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.linked-line > button {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.linked-line * button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

