.pill-button {
  padding: 6px 32px;
  border-radius: 9999px;
}

/* Give more space in archives list */

.content row:checked {
  margin: 20px 0 14px 0;
}

.content row:selected row {
  border-color: shade(@borders, 1.15);
}

.content row:selected row:not(.activatable),
.content row:selected row.activatable:not(:hover) {
  background-color: @theme_selected_fg_color;
}

/* List of backup configurations */

list.backup-overview row {
  border-width: 1px;
  border-radius: 8px;
  -gtk-outline-radius: 7px;
}

list.backup-overview row:not(:last-child) {
  margin-bottom: 20px;
}

list.backup-overview row {
  padding: 18px 18px;
}

.backup-overview .backup-repo {
  margin-bottom: 6px;
  font-weight: bold;
}

.backup-overview .backup-include {
  margin-left: 12px;
}

.backup-overview .backup-status {
  margin-top: 6px;
}

.backup-overview .backup-status:not(.backup-failed) {
  opacity: 0.55;
}

.backup-overview .backup-status.backup-failed {
  color: @error_color;
}


levelbar .full {
  background-color: #e01b24;
  border-color: #c01c27;
}

levelbar .low {
  background-color: #33d17a;
  border-color: #2fc27e;
}

.small-label {
  font-size: 0.9em;
}

.empty-page-hint {
  opacity: 0.55;
}

.not-active image {
  -gtk-icon-effect: dim;
}

.linked-line entry {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.linked-line > button {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.linked-line * button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

