.pill-button {
  padding: 6px 32px;
  border-radius: 9999px;
}

list.settings {
	border: @borders 1px solid;
	border-radius: 9px;
}
list.settings > row {
	border-bottom: @theme_unfocused_bg_color 1px solid;
}
list.settings > row:last-child, #BackupList > row:last-child {
  border-bottom: none;
}
list.settings row {
  min-height: 60px;
}
list.settings > row > box {
  margin: 0px 12px;
}
list.settings row.custom {
  min-height: 30px;
}

levelbar .full {
  background-color: #e01b24;
  border-color: #c01c27;
}
levelbar .low {
	background-color: #33d17a;
	border-color: #2fc27e;
}

.small-label {
  font-size: 0.9em;
}

.empty-page-hint {
  opacity: 0.6;
}

.not-active {
  -gtk-icon-effect: dim;
}

list.settings row.activatable:hover image {
  -gtk-icon-effect: highlight;
}

.linked-line entry {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
 
.linked-line > button {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.linked-line * button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.circular {
  padding: 0;
  min-width: 32px;
  min-height: 32px;
}
