.ok-icon {
  color: @green_1;
  background-color: alpha(@green_4, .25);
}

.warning-icon {
  color: @yellow_2;
  background: alpha(#cd9309, .25);
}

.error-icon {
  color: #ff7b63;
}

.accent-icon {
  padding: 9px;
  color: @blue_1;
}